extends ./common/_layout.pug

block append css
  link(rel='stylesheet', href="/suit-site/css/top/style.css")
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css')
block append js
  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')
  script(src="/suit-site/js/top/script.js" defer)

block var
  - var page = 'top'

block main
  main
    include ./top/_mv.pug
    include ./top/_about.pug
    include ./top/_service.pug
    include ./top/_news.pug
    include ./common/_contact-section.pug
    include ./parts/_topBtn.pug


