header.header.js-header
  .header__inner
    if page === "top"
      a(href="./index.html")
        h1.header__title
          img.header-title__img(src='/suit-site/img/common/title.svg', alt='タイトル')
    else
      a(href="../index.html")
        h1.header__title
          img.header-title__img(src='/suit-site/img/common/title.svg', alt='タイトル')
    ul.header__items.md-none
      if page === "top"
        li.header__item
          a.header__link.js-header__link(href="#about") About
        li.header__item
          a.header__link.js-header__link(href="#service") Service
        li.header__item
          a.header__link.js-header__link(href="#news") News
      else
        li.header__item
          a.header__link.js-header__link(href="../index.html#about") About
        li.header__item
          a.header__link.js-header__link(href="../index.html#service") Service
        li.header__item
          a.header__link.js-header__link(href="../index.html#news") News
    .header__contact-btn.btn.md-none
      if page === "contact"
        a.header__contact-link(href="#contact") Contact
      else if page === "top"
        a.header__contact-link(href="./contact/index.html#contact") Contact
      else
        a.header__contact-link(href="../contact/index.html#contact") Contact
    .hamberger.md-show.js-hamberger
      span
      span
      span
    .drawer.js-drawer
      .drawer__inner
        ul.drawer__items
          if page === "top"
            li.drawer__item.js-drawer__item
              a.drawer__link(href="#about") About
            li.drawer__item.js-drawer__item
              a.drawer__link(href="#service") Service
            li.drawer__item.js-drawer__item
              a.drawer__link(href="#news") News
          else
            li.drawer__item.js-drawer__item
              a.drawer__link(href="../index.html#about") About
            li.drawer__item.js-drawer__item
              a.drawer__link(href="../index.html#service") Service
            li.drawer__item.js-drawer__item
              a.drawer__link(href="../index.html#news") News
        .drawer__contact-btn.btn
          if page === "contact"
            a.drawer__contact-link(href="#contact") Contact
          else if page === "top"
            a.drawer__contact-link(href="./contact/index.html#contact") Contact
          else
            a.drawer__contact-link(href="../contact/index.html#contact") Contact


