@use "../base/base";
@use "../global" as *;

.mv{
  background-image: url(../../img/contact-mv.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq("md"){
    background-image: url(../../img/contact-mv-sp.jpg);
  }
}

.mv__inner{
  padding: 290px 0 190px 0;
  text-align: center;
}

.mv__title{
  width: 100%;
  font-family: "Cormorant", sans-serif;
  font-size: 38px;
  font-weight: $medium;
  color: $skin;
  letter-spacing: 0.05em;
}

.contact{
  background-color: $gray3;
}

.contact__text{
  margin: 20px auto 0;
  font-size: 15px;
  color: $skin;
  letter-spacing: 0.05em;
  line-height: 1.8;
  width: max-content;
  @include mq("md"){
    width: 100%;
    margin-top: 0;
  }
}

// フォーム
.contact__form{
  max-width: 500px;
  width: 100%;
  margin: 90px auto 0;
}

.form__list{
  width: 100%;
  position: relative;
}

.form__list dl{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq("md"){
    width: 100%;
    display: block;
  }
}

.form__title, .radio__title{
  font-size: 14px;
  color: $skin;
}

.form__input{
  @include mq("md"){
    margin-top: 5px;
  }
}

.form__error{
  position: absolute;
  color: $skin;
  font-size: 11px;
  bottom: -20px;
  z-index: 10;
  color: red;
}

.form__input-text{
  width: 360px;
  padding: 14px 12px;
  background-color: $skin;
  @include mq("md"){
    width: 100%;
  }
  &::placeholder{
    color: $pink2;
    font-size: 14px;
  }
}

.form__list:not(:first-child), .form__radio{
  margin-top: 50px;
}

.form__radio{
  position: relative;
}

.radio__input .radio__label{
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
}

.radio__input{
  margin-top: 20px;
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
}

.radio__label{
  position:relative;
  padding-left:20px;
  color: $skin;
}

.radio__btn{
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid $skin;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  margin:auto;
  cursor: pointer;
}

.radio__label:has(:checked) .radio__btn::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: $skin;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.form__textarea-text{
  margin-top: 22px;
  width: 360px;
  height: 171px;
  padding: 14px 12px;
  background-color: $skin;
  resize: none;
  @include mq("md"){
    width: 100%;
  }
  &::placeholder{
    color: $pink;
    font-size: 14px;
  }
}

.contact__btn{
  width: 180px;
  margin: 70px auto 0;
  background-color: transparent;
  text-align: center;
}

.contact__btn input{
  font-size: 16px;
  color: $skin;
  padding: 18px 0;
  width: 100%;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

.contact__btn input[type="submit"]:disabled {
  opacity: .5;               /* 好みで */
  cursor: default;           /* pointerにしない */
  pointer-events: none;      /* 念のため */
}
.contact__btn input[type="submit"]:disabled:hover {
  opacity: .5;               /* hoverで変化させない */
}
