@use "../base/base";
@use "../global" as *;

// タイトル
.contact__title{
  padding: 267px 0 195px 120px;
  background-image: url("../../img/contact-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  @include mq("md"){
    background-image: url("../../img/contact-bg-sp.jpg");
    padding: 200px 0 200px 15px;
  }
}

// 中央部テキスト
.contact__text-content{
  margin: 80px auto 0;
	text-align: center;
	display: block;
  @include mq("md"){
    text-align: left;
    padding: 0 15px;
  }
}

.contact__text{
  letter-spacing: 0.05em;
  font-size: 15px;
  line-height: 1.75;
  display: inline-block;
  text-align: left;
}

.contact__form-content{
  padding: 0 25px;
  @include mq("md"){
    padding: 0 15px;
  }
}

// フォーム
.contact__form{
  max-width: 800px;
  width: 100%;
  background-color: $white2;
  margin: 66px auto 0;
}

.form__lists{
  max-width: 500px;
  margin: 60px auto 0;
  padding: 66px 0;
  @include mq("md"){
    padding: 44px 0 40px 20px;
  }
}

.form__list dl{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq("md"){
    width: 305px;
    display: block;
  }
}

.form__title, .radio__title{
  font-size: 14px;
  color: $black;
}

.form__input{
  @include mq("md"){
    margin-top: 5px;
  }
}

.form__input-text{
  width: 360px;
  padding: 14px 12px;
  background-color: $white;
  @include mq("md"){
    width: 320px;
  }
  &::placeholder{
    color: $pink;
    font-size: 14px;
  }
}

.form__list:not(:first-child), .form__radio{
  margin-top: 22px;
}

.radio__input .radio__label{
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
}

.radio__input{
  margin-top: 20px;
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
}

.radio__label{
  position:relative;
  padding-left:20px;
}

.radio__btn{
  width: 15px;
  height: 15px;
  background-color: $white;
  border-radius: 50%;
  border: 1px solid $pink;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  margin:auto;
  cursor: pointer;
}

.radio__label:has(:checked) .radio__btn::after{
  content: "";
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.form__textarea-text{
  margin-top: 22px;
  width: 360px;
  height: 171px;
  padding: 14px 12px;
  background-color: $white;
  resize: none;
  @include mq("md"){
    width: 320px;
  }
  &::placeholder{
    color: $pink;
    font-size: 14px;
  }
}

.contact__btn{
  width: 180px;
  margin: 30px auto 0;
  background-color: $pink2;
  text-align: center;
}

.contact__btn input{
  font-size: 16px;
  color: $white;
  padding: 18px 0;
  width: 100%;
}

.footer{
  margin-top: 80px;
  @include mq("md"){
    margin-top: 60px;
  }
}