@use "../base/base";
@use "../global" as *;

// contact
.contact{
  width: 100%;
  background-color: $gray3;
  @include mq("lg"){
    background-image: url(/suit-site//img/common/contact-img-sp.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.contact__inner{
  display: flex;
  @include mq("lg"){
    display: block;
  }
}

.contact__main{
  padding: 80px 40px 0 120px;
  width: 55%;
  @include mq("lg"){
    max-width: 1150px;
    margin: 0 auto;
    padding: 80px 25px;
    width: 100%;
  }
  @include mq("md"){
    padding: 60px 15px;
  }
}

.contact__btn-contents{
  margin: 64px auto 0;
  text-align: center;
}

.contact__btn-contents p{
  color: $skin;
  font-size: 14px;
}

.contact__btn{
  margin: 20px auto 0;
  width: 265px;
  padding: 20px 0;
  display: block;
  cursor: pointer;
}

.contact__img{
  width: 670px;
  height: 400px;
  @include mq("lg"){
    display:none;
  }
}
.contact__img img{
  width: 100%;
  height: 100%;
}


