@use "../base/base";
@use "../global" as *;

body.is-fixed{
  position: fixed;
  inset: 0;
  width: 100%;
  overflow: hidden;
}

.header{
  height: 95px;
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  width: 100%;
}

.header__title{
  width: 171px;
  margin-left: 22px;
}

.header__items{
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item{
  height: inherit;
}

.header__link{
  font-size: 18px;
  line-height: 1.313;
  color: $skin;
  font-size: $medium;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: inherit;
  font-family: "Cormorant", sans-serif;
  column-gap: 55px;
}

.header__item:not(:first-child){
  margin-left: 60px;
}

.header__contact-btn{
  width: 121px;
  margin-right: 22px;
}

.header__contact-link{
  color: $skin;
  width: 100%;
  height: inherit;
  display: inline-block;
  padding: 12px 0;
  font-family: "Cormorant", sans-serif;
}

// hamberger
.hamberger{
  width: 25px;
  height: 16px;
  position: relative;
  margin-right: 15px;
  z-index: 100;
}

.hamberger span{
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: $skin;
}

.hamberger span:first-child{
  top: 0;
  transition: 0.3s;
}

.hamberger span:nth-child(2){
  top: 8px;
  transition: 0.3s;
}

.hamberger span:nth-child(3){
  top: 16px;
  transition: 0.3s;
}

.hamberger.is-active span:first-child{
  top: 15px;
  transform: rotate(45deg);
  background-color: $skin;
}

.hamberger.is-active span:nth-child(2){
  opacity: 0;
}

.hamberger.is-active span:nth-child(3){
  top: 15px;
  transform: rotate(-45deg);
  background-color: $skin;
}

// drawer
.drawer{
  height: 100vh;
  width: 100%;
  background-color: $gray2;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 150;
}

.drawer__inner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  flex-direction: column;
}

.drawer__link{
  color: $skin;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: "Cormorant", sans-serif;
  position: relative;
  margin-left: 10px;
  &::after{
    content: "";
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: url("/suit-site/img/section-title-logo.svg") no-repeat center / contain;
  }
}

.drawer__item:not(:first-child){
  margin-top: 50px;
}

.drawer__contact-btn{
  width: 200px;
  margin-top: 50px;
  border-radius: 5px;
}

.drawer__contact-link{
  padding: 14px 0;
  color: $skin;
  font-family: "Cormorant", sans-serif;
  width: 100%;
  height: inherit;
  display: inline-block;
}
