@use "../base/base";
@use "../global" as *;
@use "header";
@use "footer";

// 各ページにあるh3のtitle
.section-title{
  font-family: "Cormorant", sans-serif;
  font-size: 38px;
  font-weight: $medium;
  color: $skin;
  position: relative;
  margin-left: 40px;
  letter-spacing: 0.05em;
  @include mq("md"){
    font-size: 32px;
  }
  &::before{
  content: "";
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("/suit-site/img/common/section-title-logo.svg") no-repeat center / contain;
  }
  &::after{
    position: absolute;
    content: "";
    width: 85%;
    height: 1px;
    background-color: $skin;
    left: 140px;
    top: 50%;
    transform: translateY(-50%);
    @include mq("lg"){
    width: 75%;
    }
    @include mq("md"){
     width: 60%;
     left: 120px;
    }
  }
}

.section-title--line-none{
  &::after{
    position: relative;
  }
}

.section-title-line--short{
  &::after{
    width: 60%;
    @include mq("lg"){
      width: 75%;
    }
    @include mq("md"){
      width: 60%;
      left: 120px;
    }
  }
}

.section-title--black{
  color: $gray;
  &::before{
    background: url("/suit-site/img/common/section-title-logo-black.svg") no-repeat center / contain;
  }
  &::after{
    color: $gray;
    background-color: $gray;
  }
}

// btn共通
.btn{
  border: 1px solid $skin;
  text-align: center;
  color: $skin;
  transition: opacity 0.3s;
  &:hover{
    opacity: 0.7;
  }
}

.btn--arrow{
  position: relative;
  &::after,
  &::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: $skin;
  }
}

.btn--arrow{
  &::after{
    transform: rotate(-45deg) translateX(-50%);;
    top: 50%;
    left: 85%;
  }
  &::before{
    transform: rotate(45deg) translateX(-50%);;
    top: 50%;
    left: 85%;
  }
}

// 共通パーツ
.inner{
  max-width: 1150px;
  margin: 0 auto;
  padding: 80px 25px;
  @include mq("md"){
    padding: 60px 15px;
  }
}

// top-btn
.top-btn{
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: $top-btn;
  cursor: pointer;
  border-radius: 50%;
  background-color: $skin;
  transition: transform 0.3s;
  &:hover{
    transform: scale(1.3);
  }
  @include mq("md"){
    bottom: 50px;
    right: 30px;
  }
}

// sp、pc表示の有無
.md-none{
  @include mq("md"){
    display: none !important;
  }
}

.md-show{
  display: none !important;
  @include mq("md"){
    display: block !important;
  }
}

// ローディング
#loadingOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: grid;
  place-items: center;
  z-index: 9999;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid #ccc;
  border-top-color: $white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

