.mv
  .mv__inner
    .swiper
      .swiper-wrapper
        .swiper-slide
          picture
            source(srcset="/img/mv01.jpg" media="(min-width: 768px)" type="image/jpg")
            img(src="/img/mv-sp01.jpg" alt="男性のスーツ姿１")
        .swiper-slide
          picture
            source(srcset="/img/mv02.jpg" media="(min-width: 768px)" type="image/jpg")
            img(src="/img/mv-sp02.jpg" alt="男性のスーツ姿２")
        .swiper-slide
          picture
            source(srcset="/img/mv03.jpg" media="(min-width: 768px)" type="image/jpg")
            img(src="/img/mv-sp03.jpg" alt="男性のスーツ姿３")
      .swiper-pagination.md-none
      button.swiper-button-prev.md-none
      button.swiper-button-next.md-none
  .mv__title
    h2.mv__title-main MADE to ORDER
    p.mv__title-sub 上質を仕立てる
