section.news
  .news__inner.inner
    h2.section-title.section-title--white News
    .news__contents
      ul.news__items
        li.news__item.item
          .item__time
            time(datetime="2025-09-03") 2025年9月3日
          p.item__text お知らせ
          p.item__title 12月のお休みのお知らせ
        li.news__item.item
          .item__time
            time(datetime="2025-08-23") 2025年8月23日
          p.item__text お知らせ
          p.item__title オンラインストアを開設しました
        li.news__item.item
          .item__time
            time(datetime="2025-08-16") 2025年8月16日
          p.item__text イベント
          p.item__title 創業80周年記念特別割引適用
        li.news__item.item
          .item__time
            time(datetime="2025-08-11") 2025年8月11日
          p.item__text お知らせ
          p.item__title 12月のお休みのお知らせ
        li.news__item.item
          .item__time
            time(datetime="2025-08-05") 2025年8月5日
          p.item__text イベント
          p.item__title 11月23日～リニューアルオープンイベントがはじまります