section.service
  .service__inner.inner
    h2.section-title Service
    .service__title
      button.service__title-btn.js-service-title-tab.is-active(data-target='left') オーダーメイドスーツ
      button.service__title-btn.js-service-title-tab(data-target='right') その他のアイテム
    ul.service__cards.is-active(data-list="left")
      li.service__card.card
        .card__img-content
          img(src="../img/service-img01.jpg" alt="カジュアルスーツ")
          .card__type suit
        .service__body
          p.service__text-large カジュアルスーツ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
      li.service__card.card
        .card__img-content
          img(src="../img/service-img02.jpg" alt="リクルートスーツ")
          .card__type suit
        .service__body
          p.service__text-large リクルートスーツ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
      li.service__card.card
        .card__img-content
          img(src="../img/service-img03.jpg" alt="フォーマルスーツ")
          .card__type suit
        .service__body
          p.service__text-large フォーマルスーツ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
    ul.service__cards.js-service__cards(data-list="right")
      li.service__card.card
        .card__img-content
          img(src="../img/service-img04.jpg" alt="シューズ")
          .card__type other
        .service__body
          p.service__text-large シューズ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
      li.service__card.card
        .card__img-content
          img(src="../img/service-img05.jpg" alt="ネクタイ")
          .card__type other
        .service__body
          p.service__text-large ネクタイ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
      li.service__card.card
        .card__img-content
          img(src="../img/service-img06.jpg" alt="フォーマルバッグ")
          .card__type other
        .service__body
          p.service__text-large フォーマルバッグ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
