extends ../common/_layout.pug

block append css
  link(rel='stylesheet', href="../css/contact/style.css")
block append js 
  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src="../js/common/script.js" defer)
  script(src="../js/contact/script.js" defer)

block var
  - var page = 'contact'

block main
    main