extends ../common/_layout.pug

block append css
  link(rel='stylesheet', href="../css/about/style.css")
block append js 
  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src="../js/common/script.js" defer)
  script(src="../js/about/script.js" defer)

block var
  - var page = 'about'

block main
    main
      .about
        .mv
          .mv__inner
            h2.mv__title About
        section.message
          .message__inner.inner
            h2.message__title 上質を追求する老舗として
              br
              | その歴史を誇りを持ってスーツ作りに向き合ってます
            .message__text 熟練の職人が全ての技術と経験、そして職人の魂を詰め込んだ最高の一着。
              br
              | お客様と対話しながら、シルエットやデザインをひとつずつ決め、スーツを作り上げていく。
              br
              | 生地、スタイルにはじまり、ボタン、裏地、襟型、袖口、ポケット、ベント、パンツなどなど。
              br
              | すべてを合わせると数万通り以上の中から、あなたにあった一着をお届けします。
            .message__contents
              .message__img
                img(src="../img/message-img.png" alt="黒の服を着たスタイリッシュな女性がソファーに座っている様子")
              .message__body.body
                .body__title.section-title.section-title--line-none Message
                .body__text 祖父から受け継いだ技術や伝統を守りながらも、時代にあったスーツを常に追求しています。お客様から「着心地が全く違う」「このスーツで毎日がんばれます」などの嬉しいお言葉がわたしたちを支えてくれました。オーダーメイドスーツは敷居が高いと思われがちですが、わたしたちは常にお客様の身近な存在であり続けたいと思っています。あなたのためだけに存在する最高の一着を。
                .body__name 代表取締役 ルカ・コバッチ・高橋
        section.profile
          .profile__inner.inner
            h2.section-title.section-title--line-none Company Profile
            ul.profile__items
              li.profile__item.item
                .item__title 会社名
                .item__text 株式会社ExciteCode
              li.profile__item.item
                .item__title 所在地
                .info
                  .item__text 〒100-0000 東京都中央区銀座4丁目〇〇-〇〇
                  button.info__map Google map
              li.profile__item.item
                .item__title 設立
                .item__text 1944年5月10日
              li.profile__item.item
                .item__title 代表取締役
                .item__text ルカ・コバッチ・高橋
              li.profile__item.item
                .item__title 資本金
                .item__text 86,456,820円（資本準備金含む）
        .modal
          .modal__inner.map
            .map__body
              .map__upper-area
                .map__title 株式会社ExciteCode
                .map__close-btn
                  span
                  span
              .map__lower-area
                .map__img
                  picture
			              source(srcset="../img/map-img.jpg", media='(min-width: 768px)', type='image/jpg')
			              img(src="../img/map-img-sp.jpg", alt="千代田区淡路町の本社が示されているgooglemap")

        include ../common/_contact.pug