html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Serif JP", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a, button {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
a:hover, button:hover {
  opacity: 0.7;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.thanks {
  background-color: #141414;
  width: 100%;
  height: 100vh;
}

.thanks__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.thanks__text {
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #F9F2E5;
}
@media screen and (max-width: 768px) {
  .thanks__text {
    font-size: 18px;
    text-align: center;
    line-height: 1.8;
  }
}

.thanks__btn {
  width: 240px;
  text-align: center;
  margin: 30px auto 0;
}
@media screen and (max-width: 768px) {
  .thanks__btn {
    width: 200px;
  }
}

.thanks__btn a {
  padding: 30px 0;
  display: inline-block;
  color: #F9F2E5;
  font-style: 18px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .thanks__btn a {
    padding: 20px 0;
    font-size: 15px;
  }
}