html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Serif JP", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a, button {
  transition: opacity 0.3s;
}
a:hover, button:hover {
  opacity: 0.7;
}

.contact {
  width: 100%;
  background-color: #272625;
}
@media screen and (max-width: 1024px) {
  .contact {
    background-image: url(/suit-site//img/common/contact-img-sp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.contact__inner {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .contact__inner {
    display: block;
  }
}

.contact__main {
  padding: 80px 40px 0 120px;
  width: 55%;
}
@media screen and (max-width: 1024px) {
  .contact__main {
    max-width: 1150px;
    margin: 0 auto;
    padding: 80px 25px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .contact__main {
    padding: 60px 15px;
  }
}

.contact__btn-contents {
  margin: 64px auto 0;
  text-align: center;
}

.contact__btn-contents p {
  color: #F9F2E5;
  font-size: 14px;
}

.contact__btn {
  margin: 20px auto 0;
  width: 265px;
  padding: 20px 0;
  display: block;
  cursor: pointer;
}

.contact__img {
  width: 670px;
  height: 400px;
}
@media screen and (max-width: 1024px) {
  .contact__img {
    display: none;
  }
}

.contact__img img {
  width: 100%;
  height: 100%;
}

.mv {
  background-image: url(/suit-site/img/about/about-mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .mv {
    background-image: url(/suit-site//img/about/about-mv-sp.jpg);
  }
}

.mv__inner {
  padding: 290px 0 190px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .mv__inner {
    padding: 240px 0 160px 0;
  }
}

.mv__title {
  width: 100%;
  font-family: "Cormorant", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #F9F2E5;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .mv__title {
    font-size: 36px;
  }
}

.message {
  background-color: #141414;
}

.message__title {
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: #F9F2E5;
}
@media screen and (max-width: 768px) {
  .message__title {
    font-size: 15px;
    line-height: 2;
  }
}

.message__text {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 300;
  margin-top: 30px;
  color: #F9F2E5;
}
@media screen and (max-width: 768px) {
  .message__text {
    font-size: 14px;
    margin: 20px auto 0;
    text-align: left;
    width: 285px;
    line-height: 2;
  }
}

.message__contents {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .message__contents {
    display: block;
    margin: 50px auto 0;
    width: 250px;
  }
}

.message__img {
  width: 290px;
  height: 340px;
}
@media screen and (max-width: 768px) {
  .message__img {
    width: 250px;
    height: 293px;
  }
}

.message__img img {
  width: 100%;
  height: 100%;
}

.message__body {
  width: 324px;
}
@media screen and (max-width: 768px) {
  .message__body {
    width: 100%;
  }
}

.body__title {
  margin-top: 100px;
}
.body__title::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("/suit-site/img/section-title-logo.svg") no-repeat center/contain;
}
@media screen and (max-width: 768px) {
  .body__title {
    margin-top: 20px;
  }
}

.body__text, .body__name {
  margin-top: 30px;
  color: #F9F2E5;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .body__text, .body__name {
    margin-top: 10px;
  }
}

.profile {
  background-color: #222222;
}

.profile__inner {
  max-width: 734px;
}

.profile__items {
  margin-top: 73px;
}
@media screen and (max-width: 768px) {
  .profile__items {
    padding: 0 30px;
    margin-top: 44px;
  }
}

.profile__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F9F2E5;
  padding: 15px 0;
}
@media screen and (max-width: 768px) {
  .profile__item {
    display: block;
  }
}

.item__title, .item__text {
  font-size: 14px;
  color: #F9F2E5;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  .item__text {
    margin-top: 18px;
  }
}

.item__title {
  width: 200px;
}

.info__map {
  margin-top: 10px;
  color: #F9F2E5;
  font-family: "Noto Sans Jp", sans-serif;
  border-bottom: 1px solid #F9F2E5;
}
.info__map:hover {
  opacity: 0.6;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.8);
  z-index: 1000;
  display: none;
}

.js-modal.is-open {
  display: block;
}

.modal__inner {
  padding: 25px;
}

.map__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0 24px 24px 24px;
}
@media screen and (max-width: 768px) {
  .map__body {
    padding: 0 14px 14px 14px;
  }
}

.map__upper-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}
@media screen and (max-width: 768px) {
  .map__upper-area {
    margin-top: 18px;
  }
}

.map__title {
  font-size: 15px;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .map__title {
    font-size: 14px;
  }
}

.map__lower-area {
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .map__lower-area {
    margin-top: 18px;
  }
}

.map__img {
  width: 412px;
  height: 412px;
}
@media screen and (max-width: 768px) {
  .map__img {
    width: 240px;
    height: 240px;
  }
}

.map__img picture, source, img {
  width: 100%;
  height: 100%;
}

.map__close-btn {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.map__close-btn span {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #141414;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map__close-btn span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.map__close-btn span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}