@use "../base/base";
@use "../global" as *;
@use "../common/contact-section";

// mv
.mv{
  background-image: url(/suit-site/img/about/about-mv.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq("md"){
    background-image: url(/suit-site//img/about/about-mv-sp.jpg);
  }
}

.mv__inner{
  padding: 290px 0 190px 0;
  text-align: center;
  @include mq("md"){
    padding: 240px 0 160px 0;
  }
}

.mv__title{
  width: 100%;
  font-family: "Cormorant", sans-serif;
  font-size: 38px;
  font-weight: $medium;
  color: $skin;
  letter-spacing: 0.05em;
  @include mq("md"){
    font-size: 36px;
  } 
}

// message
.message{
  background-color: $gray;
}

.message__title{
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.05em;
  font-weight: $medium;
  color: $skin;
  @include mq("md"){
    font-size: 15px;
    line-height: 2;
  }
}

.message__text{
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: $regular;
  margin-top: 30px;
  color: $skin;
  @include mq("md"){
    font-size: 14px;
    margin: 20px auto 0;
    text-align: left;
    width: 285px;
    line-height: 2;
  }
}

.message__contents{
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 80px;
  @include mq("md"){
    display: block;
    margin: 50px auto 0;
    width: 250px;
  }
}

.message__img{
  max-width: 290px;
  aspect-ratio: 290 / 340;
  @include mq("md"){
    max-width: 250px;
    aspect-ratio: 250 / 293;
  }
}

.message__body{
  width: 324px;
  @include mq("md"){
    width: 100%;
  }
}

.body__title{
  margin-top: 100px;
  &::before{
    content: "";
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background: url("/suit-site/img/section-title-logo.svg") no-repeat center / contain;
  }
  @include mq("md"){
     margin-top: 20px;
  }
}

.body__text, .body__name{
  margin-top: 30px;
  color: $skin;
  font-size: 14px;
  font-weight: $regular;
  letter-spacing: 0.05em;
  line-height: 2;
  @include mq("md"){
    margin-top: 10px;
  }
}

// profile
.profile{
  background-color: $gray2;
}
.profile__inner{
  max-width: 734px;
}
.profile__items{
  margin-top: 73px;
  @include mq("md"){
    padding: 0 30px;
    margin-top: 44px;
  }
}

.profile__item{
  display: flex;
  align-items: center;
  border-bottom: 1px solid $skin;
  padding: 15px 0;
  @include mq("md"){
    display: block;
  }
}

.item__title, .item__text{
  font-size: 14px;
  color: $skin;
  letter-spacing: 0.05em;
}

.item__text{
  @include mq("md"){
    margin-top: 18px;
  }
}

.item__title{
  width: 200px;
}

.info__map{
  margin-top: 10px;
  color: $skin;
  font-family: "Noto Sans Jp", sans-serif;
  border-bottom: 1px solid $skin;
  &:hover{
    opacity: 0.6;
  }
}

// modal
.modal{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($gray2,0.8);
  z-index: 1000;
  display: none;
}

.js-modal.is-open{
  display: block;
}

.modal__inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  padding: 24px;
  @include mq("md"){
    padding: 14px;
    width: 90%;
  }
}

.map__upper-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map__title{
  font-size: 15px;
  color: $gray;
  @include mq("md"){
    font-size: 14px;
  }
}

.map__lower-area{
  margin-top: 24px;
  @include mq("md"){
    margin-top: 18px;
  }
}
.map__img{
  max-width: 412px;
  aspect-ratio: 1 / 1;
  @include mq("md"){
   max-width: 100%;
  }
}

.map__close-btn{
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.map__close-btn span{
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: $gray;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.map__close-btn span:first-child{
  transform: translate(-50%,-50%) rotate(45deg);
}

.map__close-btn span:nth-child(2){
  transform: translate(-50%,-50%) rotate(-45deg);
}





