@use "../base/base";
@use "../global" as *;
@use "../common/contact-section";

// mv
.mv{
  width: 100%;
  height: 100vh;
  position: relative;
}

.mv__inner,
.swiper,
.swiper-wrapper,
.swiper-slide,
.swiper-slide picture,
.swiper-slide img{
  height: inherit;
  width: 100%;
}
.swiper-slide img{
  object-fit: cover;
  display: block;
  height: 100%;
}

.mv__title{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 10;
  @include mq("md"){
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
  }
}

.mv__title-main{
  font-size: 54px;
  font-weight: $medium;
  color: $skin;
  letter-spacing: 0.05em;
  font-family: $title-font;
  @include mq("md"){
    font-size: 38px;
    text-align: center;
  }
}

.mv__title-sub{
  font-size: 18px;
  color: $skin;
  letter-spacing: 0.12em;
  margin-top: 17px;
  @include mq("md"){
    font-size: 14px;
    text-align: center;
  }
}

// swiper
.swiper__btn, .swiper__next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 34px;
  height: 34px;
  background-color: #707070;
}

// swiperのボタンの形
.swiper .swiper-button-next,
.swiper .swiper-button-prev{
  width: 34px;
  height: 34px;
  background-color: rgba(112, 112, 112,0.5);
  &::after,
  &::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: $skin;
  }
}

// swiperの矢印
.swiper .swiper-button-next{
  &::after{
    transform: rotate(-45deg) translateX(-50%);;
    top: 50%;
    left: 50%;
  }
  &::before{
    transform: rotate(45deg) translateX(-50%);;
    top: 50%;
    left: 50%;
  }
}

.swiper .swiper-button-prev{
  &::after{
    transform: rotate(135deg) translateX(-50%);;
    top: 50%;
    right: 50%;
  }
  &::before{
    transform: rotate(-135deg) translateX(-50%);;
    top: 50%;
    right: 50%;
  }
}

// swiperのpaginationの形
.swiper-pagination > .swiper-pagination-bullet {
  background-color: $brown;
  height: 3px;
  width: 70px;
  opacity: 1;
  border-radius: 2px;
}

// paginationの位置
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 40px) !important;
}

// ページネーションがアクティブ時の色
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: $skin;
}
// ページネーション間隔
.fv_wrapper .swiper-pagination .swiper-pagination-bullet {
  margin: 20px;
}

// about
.about{
  background-color: $gray3;
}

.about__contents{
  display: flex;
  margin-top: 78px;
  column-gap: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  @include mq("md"){
    flex-direction: column-reverse; 
  }
}

.about__content-img{
  max-width: 360px;
  aspect-ratio: 360 / 500;
  @include mq("md"){
   max-width: 240px;
   aspect-ratio: 240 / 333;
   margin: 50px auto 0;
  }
}

// .about__content-img img{
//   height: 100%;
//   width: 100%;
//   object-fit: cover;
// }

.about__content-text{
  font-size: 22px;
  color: $skin;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: $skin;
  letter-spacing: 0.5em;
  line-height: 2;
  font-weight: $normal;
  @include mq("md"){
    font-size: 14px;
    font-weight: $regular;
  }
}

.about__content-text--small{
  font-size: 14px;
  letter-spacing: 0.5em;
  line-height: 2;
  font-weight: $regular;
}

.about__content-text-sub{
  width: 600px;
  line-height: 2;
  font-size: 16px;
  font-weight: $regular;
  letter-spacing: 0.05em;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: $skin;
  @include mq("md"){
    font-size: 14px;
    width: 305px;
    line-height: 1.8;
  }
}

.about__btn{
  width: 200px;
  margin: 100px auto 0;
  cursor: pointer;
  @include mq("md"){
    margin: 126px auto 0;
    width: 173px;
  }
}

.about__btn a{
  color: $skin;
  font-size: 16px;
  padding: 22px 0;
  display: block;
  font-weight: $regular;
  @include mq("md"){
    padding: 13px 0;
    font-size: 14px;
  }
}

// service
.service{
  background-color: $gray2;
  width: 100%;
}


.service__title{
  margin: 52px auto 0;
  display: flex;
  column-gap: 60px;
  justify-content: center;
  align-items: center;
  color: $skin;
}

.service__title-btn{
  font-size: 16px;
  color: $skin;
  font-weight: $regular;
  letter-spacing: 0.05em;
  line-height: 2;
  position: relative;
  @include mq("md"){
    font-size: 14px;
  }
}

.service__title-btn{
  &::after{
    width: 100%;
    background-color: $skin;
    height: 1px;
    content: "";
    position: absolute;
    bottom: 6%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform .35s ease;
  }
   &.is-active::after{
      transform: translateX(-50%) scaleX(1);
    }
}

.service__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  max-width: 1030px;
  margin: 60px auto 0;
  display: none;
  overflow: scroll;
  @include mq("md"){
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    max-width: 250px;
  }
}

.service__cards::-webkit-scrollbar {
 display:none;
}

.service__cards.is-active{
  display: grid;
}


.card__img-content{
  position: relative;
  max-width: 330px;
  aspect-ratio: 330 / 370;
  @include mq("md"){
    max-width: 250px;
    aspect-ratio: 250 / 280;
  }
}

.card__type{
  color: $skin;
  width: 80px;
  padding: 7px 0;
  background-color: $brown;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: $regular;
  font-family:  "Cormorant", sans-serif;
  letter-spacing: 0.05em;
}

.service__body{
  padding: 20px 15px;
  background-color: $gray2;
  box-shadow: (3px 3px 6px rgba(29, 29, 29, 0.75));
}

.service__text-large{
  font-size: 16px;
  font-weight: $regular;
  color: $skin;
  letter-spacing: 0.05em;
  @include mq("md"){
    font-size: 14px;
  }
}

.service__text-small{
  font-size: 14px;
  color: $skin;
  letter-spacing: 0.05em;
  line-height: 2;
  margin-top: 13px;
  font-family: "Noto sans jp";
  font-weight: $regular;
  @include mq("md"){
    font-size: 13px;
  }
}

// news
.news{
  background-color: $pink3;
}

.news__contents{
  max-width: 1030px;
  margin: 40px auto 0;
  @include mq("md"){
    max-width: 285px;
  }
}

.news__item{
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid $pink;
  flex-wrap: wrap;
}

.news__item > *:nth-child(3) {
  @include mq("md"){
    margin-left: 0;
    flex-basis: 100%;
    margin-top: 28px;
  }
}

.news__item:not(:first-child){
  margin-top: 24px;
}

.item__time{
  width: 100px;
}

.item__time time{
  font-size: 14px;
  color: $gray2;
  font-family: "Noto Sans Jp",sans-serif;
}

.item__text{
  width: 88px;
  padding: 7px 0;
  display: block;
  text-align: center;
  color: $skin;
  background-color: $gray;
  font-family: "Noto Sans Jp",sans-serif;
  font-size: 11px;
  margin-left: 30px;
}

.item__title{
  font-size: 14px;
  color: $gray;
  font-family: "Noto Sans Jp",sans-serif;
  margin-left: 30px;
  @include mq("md"){
    margin-left: 0;
  }
}







