extends ../common/_layout.pug

block append css
  link(rel='stylesheet', href="../css/contact/style.css")
block append js 
  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src="../js/common/script.js" defer)
  script(src="../js/about/script.js" defer)

block var
  - var page = 'about'

block main
    main
      .about
        .mv
          .mv__inner
            h2.mv__title About