extends ../common/_layout.pug

block append css
  link(rel='stylesheet', href="../css/contact/style.css")
block append js 
  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src="../js/common/script.js" defer)
  script(src="../js/about/script.js" defer)

block var
  - var page = 'contact'

block main
    main
      .mv
        .mv__inner
          h2.mv__title Contact
      section.contact
        .contact__inner.inner
          p.contact__text 当店へのお問い合わせは下記フォームより受け付けております。
            br
            | 担当者が確認後、折り返しご連絡させていただきます。
          //- フォーム
          .contact__form-content
            form.contact__form.form(action="")
              ul.form__lists
                li.form__list
                  dl
                    dt.form__label
                      p.form__title 名前
                    dd.form__input
                      input.form__input-text(type="text" placeholder="仕立 一郎" name="名前")
                li.form__list
                  dl
                    dt.form__label
                      p.form__title メールアドレス
                    dd.form__input
                      input.form__input-text(type="text" placeholder="excitecode@dogstore.co.jp" name="メールアドレス")
                li.form__radio.radio
                  dl
                    dt
                      p.radio__title お問い合わせの種類
                    dd.radio__input
                      label.radio__label
                        input.radio__btn(type="radio" name="お問い合わせの種類")
                        | オーダーメードスーツ
                      label.radio__label
                        input.radio__btn(type="radio" name="お問い合わせの種類")
                        | スーツ以外のアイテム
                      label.radio__label
                        input.radio__btn(type="radio" name="お問い合わせの種類")
                        | その他
                li.form__list
                  dl
                    dt.form__label
                      p.form__title お問い合わせ内容
                    dd.form__textarea
                      textarea.form__textarea-text(type="text" placeholder="入力してください" name="お問い合わせ内容")
                .contact__btn.btn
                  input(type="submit" value="送信")
