html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Serif JP", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a, button {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
a:hover, button:hover {
  opacity: 0.7;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.mv {
  background-image: url(/suit-site/img/contact/contact-mv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .mv {
    background-image: url(/suit-site/img/contact/contact-mv-sp.jpg);
  }
}

.mv__inner {
  padding: 290px 0 190px 0;
  text-align: center;
}

.mv__title {
  width: 100%;
  font-family: "Cormorant", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #F9F2E5;
  letter-spacing: 0.05em;
}

.contact {
  background-color: #272625;
}

.contact__text {
  margin: 20px auto 0;
  font-size: 15px;
  color: #F9F2E5;
  letter-spacing: 0.05em;
  line-height: 1.8;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 768px) {
  .contact__text {
    width: 100%;
    margin-top: 0;
  }
}

.contact__form {
  max-width: 500px;
  width: 100%;
  margin: 90px auto 0;
}

.form__list {
  width: 100%;
  position: relative;
}

.form__list dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .form__list dl {
    width: 100%;
    display: block;
  }
}

.form__title, .radio__title {
  font-size: 14px;
  color: #F9F2E5;
}

@media screen and (max-width: 768px) {
  .form__input {
    margin-top: 5px;
  }
}

.form__error {
  position: absolute;
  color: #F9F2E5;
  font-size: 11px;
  bottom: -20px;
  z-index: 10;
  color: red;
}

.form__input-text {
  width: 360px;
  padding: 14px 12px;
  background-color: #F9F2E5;
}
@media screen and (max-width: 768px) {
  .form__input-text {
    width: 100%;
  }
}
.form__input-text::-webkit-input-placeholder {
  color: #99958F;
  font-size: 14px;
}
.form__input-text::-moz-placeholder {
  color: #99958F;
  font-size: 14px;
}
.form__input-text:-ms-input-placeholder {
  color: #99958F;
  font-size: 14px;
}
.form__input-text::-ms-input-placeholder {
  color: #99958F;
  font-size: 14px;
}
.form__input-text::placeholder {
  color: #99958F;
  font-size: 14px;
}

.form__list:not(:first-child), .form__radio {
  margin-top: 50px;
}

.form__radio {
  position: relative;
}

.radio__input .radio__label {
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
}

.radio__input {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.radio__label {
  position: relative;
  padding-left: 20px;
  color: #F9F2E5;
}

.radio__btn {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #F9F2E5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
}

.radio__label:has(:checked) .radio__btn::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #F9F2E5;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form__textarea-text {
  margin-top: 22px;
  width: 360px;
  height: 171px;
  padding: 14px 12px;
  background-color: #F9F2E5;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__textarea-text {
    width: 100%;
  }
}
.form__textarea-text::-webkit-input-placeholder {
  color: #A4A4A0;
  font-size: 14px;
}
.form__textarea-text::-moz-placeholder {
  color: #A4A4A0;
  font-size: 14px;
}
.form__textarea-text:-ms-input-placeholder {
  color: #A4A4A0;
  font-size: 14px;
}
.form__textarea-text::-ms-input-placeholder {
  color: #A4A4A0;
  font-size: 14px;
}
.form__textarea-text::placeholder {
  color: #A4A4A0;
  font-size: 14px;
}

.contact__btn {
  width: 180px;
  margin: 70px auto 0;
  background-color: transparent;
  text-align: center;
}

.contact__btn input {
  font-size: 16px;
  color: #F9F2E5;
  padding: 18px 0;
  width: 100%;
  cursor: pointer;
  opacity: 1;
  border: 1px solid #F9F2E5;
  text-align: center;
  color: #F9F2E5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}

.contact__btn input[type=submit]:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.contact__btn input[type=submit]:disabled:hover {
  opacity: 0.5;
}