html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Noto Serif JP", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a, button {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
a:hover, button:hover {
  opacity: 0.7;
}

body.is-fixed {
  position: fixed;
  inset: 0;
  width: 100%;
  overflow: hidden;
}

.header {
  height: 95px;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: inherit;
  width: 100%;
}

.header__title {
  width: 171px;
  margin-left: 22px;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
}

.header__item {
  height: inherit;
}

.header__link {
  font-size: 18px;
  line-height: 1.313;
  color: #F9F2E5;
  font-size: 500;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
  font-family: "Cormorant", sans-serif;
  -webkit-column-gap: 55px;
  -moz-column-gap: 55px;
  column-gap: 55px;
}

.header__item:not(:first-child) {
  margin-left: 60px;
}

.header__contact-btn {
  width: 121px;
  margin-right: 22px;
}

.header__contact-link {
  color: #F9F2E5;
  width: 100%;
  height: inherit;
  display: inline-block;
  padding: 12px 0;
  font-family: "Cormorant", sans-serif;
}

.hamberger {
  width: 25px;
  height: 16px;
  position: relative;
  margin-right: 15px;
  z-index: 300;
  cursor: pointer;
}

.hamberger span {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #F9F2E5;
}

.hamberger span:first-child {
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamberger span:nth-child(2) {
  top: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamberger span:nth-child(3) {
  top: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamberger.is-active span:first-child {
  top: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #F9F2E5;
}

.hamberger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamberger.is-active span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #F9F2E5;
}

.drawer {
  height: 100vh;
  width: 100%;
  background-color: #222222;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 200;
}

.drawer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.drawer__link {
  color: #F9F2E5;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: "Cormorant", sans-serif;
  position: relative;
}
.drawer__link::after {
  content: "";
  position: absolute;
  left: -22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("/suit-site/img/section-title-logo.svg") no-repeat center/contain;
}

.drawer__item:not(:first-child) {
  margin-top: 50px;
}

.drawer__contact-btn {
  width: 200px;
  margin-top: 50px;
  border-radius: 5px;
}

.drawer__contact-link {
  padding: 14px 0;
  color: #F9F2E5;
  font-family: "Cormorant", sans-serif;
  width: 100%;
  height: inherit;
  display: inline-block;
}

.footer {
  background-color: #222222;
}

.footer__inner {
  padding: 31px 0;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .footer__inner {
    padding: 21px 0;
    font-size: 14px;
  }
}

.footer__text {
  text-align: center;
  color: #F9F2E5;
}

.section-title {
  font-family: "Cormorant", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #F9F2E5;
  position: relative;
  margin-left: 40px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}
.section-title::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("/suit-site/img/common/section-title-logo.svg") no-repeat center/contain;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 85%;
  height: 1px;
  background-color: #F9F2E5;
  left: 140px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 1024px) {
  .section-title::after {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .section-title::after {
    width: 60%;
    left: 120px;
  }
}

.section-title--line-none::after {
  position: relative;
}

.section-title-line--short::after {
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .section-title-line--short::after {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .section-title-line--short::after {
    width: 60%;
    left: 120px;
  }
}

.section-title--black {
  color: #141414;
}
.section-title--black::before {
  background: url("/suit-site/img/common/section-title-logo-black.svg") no-repeat center/contain;
}
.section-title--black::after {
  color: #141414;
  background-color: #141414;
}

.btn {
  border: 1px solid #F9F2E5;
  text-align: center;
  color: #F9F2E5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.btn:hover {
  opacity: 0.7;
}

.btn--arrow {
  position: relative;
}
.btn--arrow::after, .btn--arrow::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #F9F2E5;
}

.btn--arrow::after {
  -webkit-transform: rotate(-45deg) translateX(-50%);
  transform: rotate(-45deg) translateX(-50%);
  top: 50%;
  left: 85%;
}
.btn--arrow::before {
  -webkit-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
  top: 50%;
  left: 85%;
}

.inner {
  max-width: 1150px;
  margin: 0 auto;
  padding: 80px 25px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding: 60px 15px;
  }
}

.top-btn {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  background-color: #F9F2E5;
}
@media screen and (max-width: 768px) {
  .top-btn {
    bottom: 50px;
    right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none !important;
  }
}

.md-show {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .md-show {
    display: block !important;
  }
}