@use "../base/base";
@use "../global" as *;

.header{
  height: 71px;
  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.header__inner{
  display: flex;
  align-items: center;
  height: inherit;
  width: 100%;
}



.header__title{
  width: 171px;
  margin-left: 22px;
  margin-right: auto;
}

.header__items{
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item{
  height: inherit;
}

.header__link{
  font-size: 16px;
  line-height: 1.313;
  color: $black;
  font-size: $medium;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item:not(:first-child){
  margin-left: 60px;
}

.header__link--contact{
  background-color: $pink2;
  color: $white;
  padding: 24px 26px;
}

// hamberger
.hamberger{
  width: 25px;
  height: 16px;
  position: relative;
  margin-right: 15px;
  z-index: 100;
}

.hamberger span{
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: $black;
}

.hamberger span:first-child{
  top: 0;
  transition: 0.3s;
}

.hamberger span:nth-child(2){
  top: 8px;
  transition: 0.3s;
}

.hamberger span:nth-child(3){
  top: 16px;
  transition: 0.3s;
}

.hamberger.is-active span:first-child{
  top: 15px;
  transform: rotate(45deg);
  background-color: $white;
}

.hamberger.is-active span:nth-child(2){
  opacity: 0;
}

.hamberger.is-active span:nth-child(3){
  top: 15px;
  transform: rotate(-45deg);
  background-color: $white;
}

// drawer
.drawer{
  height: 100vh;
  width: 100%;
  background-color: $black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.drawer__inner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.drawer__link{
  color: $white;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.drawer__item:not(:first-child){
  margin-top: 50px;
}

.drawer__link--contact{
  background-color: $pink2;
  color: $white;
  padding: 24px 26px;
}
