@use "../base/base";
@use "../global" as *;
@use "header";
@use "footer";


.section-title{
  font-family: "Cormorant", sans-serif;
  font-size: 38px;
  font-weight: $medium;
  color: $white;
  position: relative;
  margin-left: 40px;
  letter-spacing: 0.05em;
  &::after{
  content: "";
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("../../img/section-title-logo.svg") no-repeat center / contain;
  }
  &::before{
    position: absolute;
    content: "";
    width: 70%;
    height: 1px;
    background-color: $white;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn{
  border: 1px solid $white;
  text-align: center;
}

.inner{
  max-width: 1150px;
  margin: 0 auto;
  padding: 80px 25px;
}

.md-none{
  @include mq("md"){
    display: none !important;
  }
}

.md-show{
  display: none !important;
  @include mq("md"){
    display: block !important;
  }
}



