@use "../base/base";
@use "../global" as *;
@use "header";
@use "footer";


.section-title{
  font-family: "Cormorant", sans-serif;
  font-size: 38px;
  font-weight: $medium;
  color: $skin;
  position: relative;
  margin-left: 40px;
  letter-spacing: 0.05em;
  @include mq("md"){
    font-size: 32px;
  }
  &::before{
  content: "";
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("../../img/section-title-logo.svg") no-repeat center / contain;
  }
  &::after{
    position: absolute;
    content: "";
    width: 85%;
    height: 1px;
    background-color: $skin;
    left: 140px;
    top: 50%;
    transform: translateY(-50%);
    @include mq("lg"){
    width: 75%;
    }
    @include mq("md"){
     width: 60%;
     left: 120px;
    }
  }
}

.section-title--line-none{
  &::after{
    position: relative;
  }
}

.section-title-line--short{
  &::after{
    width: 60%;
    @include mq("lg"){
      width: 75%;
    }
    @include mq("md"){
      width: 60%;
      left: 120px;
    }
  }
}

.section-title--black{
  color: $gray;
  &::before{
    background: url("../../img/section-title-logo-black.svg") no-repeat center / contain;
  }
  &::after{
    color: $gray;
    background-color: $gray;
  }
}

// news
.contact{
  width: 100%;
  background-color: $gray3;
  @include mq("lg"){
    background-image: url(../../img/contact-img-sp.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.contact__inner{
  display: flex;
  @include mq("lg"){
    display: block;
  }
}

.contact__main{
  padding: 80px 40px 0 120px;
  width: 55%;
  @include mq("lg"){
    max-width: 1150px;
    margin: 0 auto;
    padding: 80px 25px;
    width: 100%;
  }
  @include mq("md"){
    padding: 60px 15px;
  }
}

.contact__btn-contents{
  margin: 64px auto 0;
  text-align: center;
}

.contact__btn-contents p{
  color: $skin;
  font-size: 14px;
}

.contact__btn{
  margin: 20px auto 0;
  width: 265px;
  padding: 20px 0;
  display: block;
  cursor: pointer;
}

.contact__img{
  height: 400px;
  width: 45%;
  @include mq("lg"){
    display:none;
  }
}
.contact__img img{
  height: auto;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn{
  border: 1px solid $skin;
  text-align: center;
  color: $skin;
}

.btn--arrow{
  position: relative;
  &::after,
  &::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: $skin;
  }
}

.btn--arrow{
  &::after{
    transform: rotate(-45deg) translateX(-50%);;
    top: 50%;
    left: 85%;
  }
  &::before{
    transform: rotate(45deg) translateX(-50%);;
    top: 50%;
    left: 85%;
  }
}

.inner{
  max-width: 1150px;
  margin: 0 auto;
  padding: 80px 25px;
  @include mq("md"){
    padding: 60px 15px;
  }
}

.md-none{
  @include mq("md"){
    display: none !important;
  }
}

.md-show{
  display: none !important;
  @include mq("md"){
    display: block !important;
  }
}

// contact
.contact{
  width: 100%;
  background-color: $gray3;
  @include mq("lg"){
    background-image: url(../../img/contact-img-sp.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.contact__inner{
  display: flex;
  @include mq("lg"){
    display: block;
  }
}

.contact__main{
  padding: 80px 40px 0 120px;
  width: 55%;
  @include mq("lg"){
    max-width: 1150px;
    margin: 0 auto;
    padding: 80px 25px;
    width: 100%;
  }
  @include mq("md"){
    padding: 60px 15px;
  }
}

.contact__btn-contents{
  margin: 64px auto 0;
  text-align: center;
}

.contact__btn-contents p{
  color: $skin;
  font-size: 14px;
}

.contact__btn{
  margin: 20px auto 0;
  width: 265px;
  padding: 20px 0;
  display: block;
  cursor: pointer;
}

.contact__img{
  height: 400px;
  width: 45%;
  @include mq("lg"){
    display:none;
  }
}
.contact__img img{
  height: auto;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}



