section.contact
  .contact__inner
    .contact__main
      h3.section-title.section-title-line--short Contact
      .contact__btn-contents
        p お気軽にご相談ください
        if page === "top"
          a.contact__btn.btn.btn--arrow(href="./contact/index.html") お問い合わせはこちら
        else
          a.contact__btn.btn.btn--arrow(href="../contact/index.html") お問い合わせはこちら
    .contact__img
      img(src="../img/contact-img.jpg" alt="suitを採寸するための鋏とメジャー" width="670" height="400")
