extends ../common/_layout.pug

block append css
  link(rel='stylesheet', href="/suit-site/css/thanks/style.css")
block append js 
  script(src='https://code.jquery.com/jquery-3.3.1.js')
  script(src="/suit-site/js/common/script.js" defer)

block main
    main
      .thanks
        .thanks__inner.inner
          .thanks__contents
            p.thanks__text お問い合わせ
            br.md-show
            | ありがとうございました
            .thanks__btn.btn
              a(href="../index.html") Topへ戻る
