section.about.js-scroll-top
  .about__inner.inner
    h3.section-title About
    .about__contents
      .about__content-img
        picture
          source(srcset="/suit-site/img/top/about-img-sp.png", media='(max-width: 768px)')
          img(src="/suit-site/img/top/about-img.png", alt="スーツの着付けをしている様子" width="360" height="500" loading="lazy" decoding="async")
      p.about__content-text 上質を追求する
        br.md-show
        | 老舗として
        br
        | その歴史と
        br.md-show
        | 誇りを持って
        br
        span.about__content-text--small お客様と
        br.md-show
        span.about__content-text--small 向き合っています
      .about__content-text-sub  創業以来、厳選した高品質で豊富な生地、研鑽を重ねた縫製技術で多くのスーツを仕立ててきました。
        br
        | 伝統あるテーラーだからできる、芯地や裏地など、細部へのこだわり。
        br.md-show
        | わたしたちはワンランク上のオーダースーツをお約束します。
    .about__btn.btn.btn--arrow
      a(href="./about/index.html") View More