section.service
  .service__inner.inner
    h3.section-title Service
    .service__title
      button.service__title-btn.js-service-title-tab.is-active(data-target='left') オーダーメイドスーツ
      button.service__title-btn.js-service-title-tab(data-target='right') その他のアイテム
    ul.service__cards.is-active.js-service__cards(data-list="left")
      li.service__card.card
        .card__img-content
          picture
            source(srcset="/img/top/service-img01-sp.jpg", media='(min-width: 768px)')
            img(src="/img/top/service-img01.jpg" alt="カジュアルスーツ" width="330" height="370" loading="lazy" decoding="async")
          .card__type suit
        .service__body
          p.service__text-large カジュアルスーツ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
      li.service__card.card
        .card__img-content
          picture
            source(srcset="/img/top/service-img02-sp.jpg", media='(max-width: 768px)')
            img(src="/img/top/service-img02.jpg" alt="リクルートスーツ" width="330" height="370" loading="lazy" decoding="async")
          .card__type suit
        .service__body
          p.service__text-large リクルートスーツ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
      li.service__card.card
        .card__img-content
          picture
            source(srcset="/img/top/service-img03-sp.jpg", media='(max-width: 768px)')
            img(src="/img/top/service-img03.jpg" alt="フォーマルスーツ" width="330" height="370" loading="lazy" decoding="async")
          .card__type suit
        .service__body
          p.service__text-large フォーマルスーツ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
    ul.service__cards.js-service__cards(data-list="right")
      li.service__card.card
        .card__img-content
          picture
            source(srcset="/img/top/service-img04-sp.jpg", media='(max-width: 768px)')
            img(src="/img/top/service-img04.jpg" alt="シューズ" width="330" height="370" loading="lazy" decoding="async")
          .card__type other
        .service__body
          p.service__text-large シューズ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
      li.service__card.card
        .card__img-content
          picture
            source(srcset="/img/top/service-img05-sp.jpg", media='(max-width: 768px)')
            img(src="/img/top/service-img05.jpg" alt="ネクタイ" width="330" height="370" loading="lazy" decoding="async")
          .card__type other
        .service__body
          p.service__text-large ネクタイ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
      li.service__card.card
        .card__img-content
          picture
            source(srcset="/img/top/service-img06-sp.jpg", media='(max-width: 768px)')
            img(src="/img/top/service-img06.jpg" alt="フォーマルバッグ" width="330" height="370" loading="lazy" decoding="async")
          .card__type other
        .service__body
          p.service__text-large フォーマルバッグ
          p.service__text-small あなただけでのスタイルで着こなす、あなただけの一着を
